.tache {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


.tache > [class*='col-'] {
    display: flex;
    flex-direction: column;
}


.tacheBtn {
    width: 25px !important;
    height: 25px !important;
    padding: 0px;
}


.tacheAction {
    justify-content: space-around;
    align-items: end;
    margin: 0;
    padding: 0;
}

#taches .list-group-item {
    background-color: #eeeeee;
    border-color: #bbbbbb;
}

#taches .disabled {
    background-color: #bbbbbb !important;
    border-color: #bbbbbb;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination .input-group {
    width: 150px;
}

.pagination span.input-group-btn {
    width: 50px !important;
    max-width: 50px !important;
}

